:root{
	--dark-color:#191919;
	--white-color:#FFFFFF;
	--purple-color:rgb(117,41,149);
	--blue-color:#00B2B1;
	--gray-color:#828282;
	--ligh-color:#F3F3F3;
}

header{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.logo img{
  max-width: 100%;
}

.sesion{
  display: flex;
  text-align: right;
  align-items: center;
  color: var(--purple-color);


}
.sesion a{
  color: var(--purple-color);
  text-decoration: none;
}

.sesion img{
  max-width: 60px;
  width: 100%;
  border-radius: 50%;
  border: 3px solid var(--purple-color);
}

#dashboard{
  display: flex;
}


.menuone{
  flex-basis: 20%;
  background-color: var(--dark-color);
  height: 88vh;
}

.menuone ul{
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.menuone a{
  color:var(--ligh-color);
  text-decoration: none;
  padding: 1rem;
  display: block;
  font-family: 'Lato', sans-serif;
}

.menuone a:hover{
  background-color: var(--purple-color);
  border-left: 3px solid var(--white-color);
  padding-left: 40px;
  transition: all 2s;
  color: var(--dark-color);
}

.menuone i{
  margin: 5px
}
.contenido{
  flex-basis: 80%;
  background-color: var(--ligh-color);
  padding: 30px;
  text-align: center;
}

/*estilos productos*/
.logo a{
  text-decoration: none;
  color: var(--purple-color);
}

.tablaintro{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tablaintro img{
  max-width: 100px;
}

.tablaintro h1{
color: var(--dark-color);
font-family: 'Roboto',sans-serif;
}

.tablaintro a{
  border-radius: 5%;
}

.frmbusqueda{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.frmbusqueda input[type="text"]{
flex-basis: 80%;
padding: 10px;
border: 2px solid var(--dark-color);
}

.frmbusqueda button{
  flex-basis: 20%;
  margin-left: 20px;
  border-radius: 5px;
}

table{
  width: 100%;
  border: 2px solid var(--dark-color);
  border-collapse: collapse;
}

table th{
  border: 2px solid var(--dark-color);
  background-color: var(--purple-color);
  color: var(--white-color);
  padding: 7px 0;
}

table td{
  border: 2px solid var(--dark-color);
  text-align: center;
  
}

.formproducto{
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Lato' ,sans-serif;
}

.formproducto label{
  color: var(--dark-color);
}

.formproducto select{
  color: var(--gray-color);
  font-size: 1rem;
  font-weight: bold;
}

.formproducto input[type="submit"]{
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 5px;
} 

.table-success {
  --bs-table-bg: #75299560;
  --bs-table-striped-bg: #00b2b29d;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #bcd0c7;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #c1d6cc;
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #c4bcd0;
}

.btn-outline-success {
  color: #000000;
  border-color: #510058;
}
.btn-outline-success:hover {
  color: #fff;
  background-color:#510058;
  border-color: #ffffff;
}
.btn-primary {
  color: #fff;
  background-color:rgb(117,41,149);
  border-color: rgb(255, 252, 252);
}


.btn-primary:hover {
  color: #fff;
  background-color: rgb(0, 178, 177);
  border-color: rgb(0, 178, 177);
}    

.btn-outline-secondary {
  color: #ffffff;
  border-color:#C4A7D0;
  background-color: #C4A7D0;
}
.btn-outline-secondary:hover {
  color: #fff;
  background-color: #4BAEBE;
  border-color: #6c757d;
}

.table-dark {
  --bs-table-bg: #2f5f8f;
  --bs-table-striped-bg: #d8d8d8;
  --bs-table-striped-color: rgb(0, 0, 0);
  --bs-table-active-bg: #373b3e;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #323539;
  --bs-table-hover-color: #fff;
  color: #fff;
  border-color: #373b3e;
}

