<!DOCTYPE html>
<html lang="es-Es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/estilos.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/normalize.css">
    <title>Animalandia</title>
    <script src="https://kit.fontawesome.com/4c9db78ec9.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="logo">
            <img src="../assets/img/logo.jpg" alt="Logo animalandia">
        </div>
        <div class="botones">
            <a href="login.html"><button class="b-azul"><i class="fa-solid fa-user-astronaut"></i>Ingresar</button></a>
                <button class="b-morado"><i class="fa-solid fa-user-secret"></i>Registrar</button>
            </div>
    </header>

    <nav>
        <a href="index.html" class="item">Home</a>
        <a href="equipo.html" class="item">Equipo</a>
        <a href="servicios.html"class="item">Servicios</a>
        <a href="contacto.html"class="item">Contacto</a>        
        <a href="tips.html"class="item">Tips</a>
    </nav>

    <main >
        <section id="tipss" >
            <article class="tips">
            <article class="tipuno">
                    <div><h2 class="titulotip">Mantener un peso saludable</h2>
                    <img src="../assets/img/colette.jpg" alt="Foto de Colette">
                    </div>
                    <p>Este consejo aplica tanto para mascotas como para los dueños. Uno lleva una vida más ligera cuando no tiene que preocuparse por cargar kilos extra. Tú controlas lo que les estás dando de comer. También controla sus porciones y asegúrate que están caminando o corriendo lo suficiente para quemar las calorías. Si hace falta, cómprale también un juguete que lo mantenga activo aún dentro de casa.</p>
            </article>
            <article class="tipdos">
                <img src="../assets/img/cat.jpg" alt="Foto de gato">
                <div>
                    <h2 class="titulotip">Invierte en su entrenamiento.</h2>
                <p>Las clases para las mascotas benefician al dueño antes que a nadie, pues le otorgan el control tanto para situaciones básicas, como soltar algo que tenga en la boca que no deba masticar, o quedarse tranquilo, o incluso en ocasiones que se presenten. También es bueno para la socialización de las mascotas, con otras personas, con niños o con otros animales. Mira este enternecedor ejemplo, donde un perro ayuda a un cachorro a bajar las escaleras:</p>
            </div>
            <article class="tiptres">
                <img src="../assets/img/colette2.jpg" alt="Foto de Colette">
                <div>
                    <h2 class="titulotip">Estimulación mental.</h2>
                    <p>“Un perro cansado es un perro feliz”. Por otro lado, una mascota aburrida te costará cientos de zapatos, fundas, cajas y objetos mordisqueados. Invierte en juguetes interactivos que los mantendrán ocupados incluso cuando tengas que salir de casa.</p>
                </div>
            </article>
        </article>
        </section>
    </main>
    <footer>
        <div class="box-footer">
            <div class="foot">
                <img src="../assets/img/bx-building 1.svg" alt="icono-building">
                <h3>Sedes</h3>
                <p>Sede Rosales<br>Sede Kennedy<br>Sede Suba<br>Sede Chía<br>Sede Fontibon</p>
            </div>
            <div class="foot">
                <img src="../assets/img/bx-building 1.svg" alt="icono-building">
                <h3>Sedes</h3>
                <p>Sede Rosales<br>Sede Kennedy<br>Sede Suba<br>Sede Chía<br>Sede Fontibon</p>
            </div>
            <div class="foot">
                <img src="../assets/img/bx-building 1.svg" alt="icono-building">
                <h3>Sedes</h3>
                <p>Sede Rosales<br>Sede Kennedy<br>Sede Suba<br>Sede Chía<br>Sede Fontibon</p>
            </div>
        </div>
    </footer>
</body>
</html>